{% extends "base.html" %}
{% block body %}
  {% if user.is_authenticated %}
  <div class="meet_detail_body">
    <div class="meet_detail_title_container">
        <h1>{{ meet.meet_name}}</h1>
    </div>
    <div class="meet_detail_map_container">
      <div id="map"></div>
    </div>
    <div class="meet_detail_info_container">
      <div class="meet_detail_description_container">
          <p>{{meet.description}}</p>
      </div>
      <div class="meet_detail_time_container">
        <div class="meet_detail_date_container">
            <p>{{ meet.date|date:'Y-m-d' }} </p>
        </div>
        <div class="meet_detail_hour_container">
            <p>{{ meet.time}}</p>
        </div>
      </div>
      <div class="meet_detail_interested_container">
          <p>Skal på treffet: {{meet.users_joining.count}}</p>
      </div>
      <div class="meet_detail_join_container">
        <a href="{{ meet.join_url }}"> Jeg skal være med!</a>
      </div>
      <div class="comments">
        <h4><a href="{% url 'meets:comment_meet' slug=meet.slug %}">Kommenter</a><h4>
        <h1>Kommentarer:</h1>
        {% for comment in meet.meet_comment.all %}
          <p>Bruker:{{comment.user}}</p>
          <p>Skrev: {{comment.comment}}</p>
          <p>Dato: {{comment.created|date:'Y-m-d H:i'}}
        {% endfor %}
      </div>
    </div>
  </div>


  {% else %}
  <div class="container" >
      <div class="jumbotron">
        <h1 class="display-4">Ops, ser ut som du ikke er logget inn!</h1>
        <p class="lead">Logg inn eller registrer deg for å se treff i nærheten av deg!</p>
        <a class="btn btn-danger btn-lg" href="{% url 'accounts:login'%}" role="button">Logg inn</a>
        <a class="btn btn-info btn-lg" href="{%url 'accounts:signup'%}" role="button">Registrer meg!</a>
      </div>
      <div id ="gif" align="center">
      <iframe src="https://giphy.com/embed/rUwbpQKelwneM" width="480" height="270" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/day-perfect-burnout-rUwbpQKelwneM"></a>
      </div>
  </div>

  {% endif %}
{% endblock %}
