{% extends "base.html" %}
{% load staticfiles %}
{% block title %} Shady Meets {% endblock %}
{% block body %}
{% include "logo-loading-screen.html" %}
<div class="linear-gradient-background">

  <div class="meet-search-container">
    {% if user.is_authenticated %}<a class="btn btn-info btn-custom" href="{%url 'meets:create_meet'%}" role="button">Opprett treff! </a> {% endif %}
    <a class="btn btn-info btn-custom" href="{%url 'meets:meets_markers'%}" role="button">Se kart!</a>
    <form action="{% url 'meets:meets_list'%}" method="action">
      <input type="text" name="q" placeholder="Søk">
      <input type="submit" value="Søk" class="btn btn-sm btn-warning">
    </form>
  </div>


  <div class="meet-list-container">

  </div>
  {% if user.is_authenticated %}
  <div class="meet-bottom-load-container">
    <a href="#" id="loadMeets" class="btn btn-info">Se flere treff</a>
  </div>
  {% else %}
  <div class="container">
    <div class="jumbotron">
      <h1 style="color:black;">Lyst til å opprette ditt eget treff?</h1>
      <p class="lead" style="color:black;">Logg inn eller registrer deg for å lage ditt eget treff!<br> Pst: Du kan være anonym!</p>
      <a class="btn btn-danger btn-lg" href="{% url 'accounts:login'%}" role="button">Logg inn</a>
      <a class="btn btn-info btn-lg" href="{%url 'accounts:signup'%}" role="button">Registrer meg!</a>
      <div id ="gif" align="center">
        <iframe src="https://giphy.com/embed/PY6rZl1vZwLra" width="100%" height="270" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/cars-audi-rs6-PY6rZl1vZwLra"></a></p>
      </div>
    </div>
  </div>
  {% endif %}

{% endblock %}

{% block script %}
{% if user.is_authenticated %}
  <script src="{% static "js/getnotifications.js" %}" type="text/javascript"></script>
{% endif %}
  <script>

  function getParameterByName(name, url) {
      if (!url) url = window.location.href;
      name = name.replace(/[\[\]]/g, "\\$&");
      var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
          results = regex.exec(url);
      if (!results) return null;
      if (!results[2]) return '';
      return decodeURIComponent(results[2].replace(/\+/g, " "));
  }

  $(document).ready(function(){
      var query = getParameterByName('q');
      var nextUrl;
      var meetsList = [];

      function fetchMeets(url){
        $("#loading-screen-logo").show();
        var fetchUrl;
        if(!url){
          fetchUrl = "../../api/meets/"
        }else{
          fetchUrl = url
        }

        $.ajax({
          url:fetchUrl,
          data:{
            'q':query
          },
          method:"GET",
          success:function(data){
            meetsList = data.results
            nextUrl = data.next
            if(!nextUrl){
              $('#loadMeets').text("Ingen flere treff")
            }
            parseMeets()
            $("#loading-screen-logo").hide();
          }, error:function(data){
            console.log("ERROR")
          }
        })
      }

      fetchMeets()

      function parseMeets(){
        if(meetsList == 0){
          $(".meet-list-container").append(
            "<h2> Fant ingen meets..</h2>"
          )
        } else {
            $.each(meetsList, function(key, value){
              var meet_name = value.meet_name
              var date = value.date
              var time = value.time
              var description = value.description
              var users_joining = value.joining
              if(users_joining == 0){
                users_joining = 'Bli med!'
              }else{
                users_joining = 'Skal: ' + users_joining
              }
              var username = value.organizer
              console.log(value.meet_image)
              

            $(".meet-list-container").append(
                `
                <div class="meet-card-container" style="background-image: url(${value.meet_image})">
                  <div class="meet-card-container-color-overlay">
                    <div class="meet-card-title">
                      <a class="w" href='${value.url}'><h3>${meet_name}</h3></a>
                    </div>
                    <div class="meet-card-imagecontainer" style="background-image: url(${value.meet_image})">
                    </div>
                    <div class="meet-card-timecontainer">
                      <p class="w"> ${value.day} - ${time}</p>
                      <p class="w"> ${date} </p>
                    </div>
                    <h5 id="meet-card-creator" style="word-wrap:break-word;">
                      Arrangeres av: ${username}
                    </h5>
                    <h4 class="meet-card-location w">
                      ${value.city}
                    </h4>
                    <a href='${value.url}' class="meet-card-joinbutton w">Mer info</a>
                    <div class="meet-card-bottom-info">
                      <p class="w">${users_joining} </p>
                    </div>
                  </div>
                </div>

                `
            )
          })
        }
      }

      $("#loadMeets").click(function(event){
        event.preventDefault()
        if(nextUrl){
          fetchMeets(nextUrl)
        }else{
          $("#loadMeets").html("Ingen flere treff")
        }
      })
  });

  </script>
{% endblock %}

<!--
  <div class='meet-card-container'>
    <div class='meet-card-time-container'>
      <p> ${value.day} </p>
      <p> ${date} </p>
      <p> ${time} </p>
    </div>
    <div class='meet-card-info-container'>
      <h2><a href='${value.url}' class='btn-meet-name'> ${meet_name}</a></h2>
      <div class='meet-card-info'>
        <h4>${value.location}</h4>
        <h4>${users_joining} </h4>
    </div>
  </div>
-->
