{% extends "base.html" %}
{% load staticfiles %}
{% block body %}

{% if user.is_authenticated %}

<style>
  body{
    background-image: url({%static 'images/interior.jpeg'%});
    background-repeat:no-repeat;
    background-attachment: fixed;
  }
</style>

<div class="background_meets_list"></div>
<a class="btn btn-info" href="{%url 'meets:create_meet'%}" role="button">Opprett treff! </a>

<div class="meet_list_container">
{% for meet in object_list %}
    <div class="meet_card_container">
      <div class="meet_card_img_container">
      </div><!--
   --><div class="meet_card_time_container">
        <p>Søndag</p>
        <p>{{ meet.date|date:'d.m.Y'}}</p>
        <p>20:00</p>
      </div><!--
  --><div class="meet_card_info_container">
        <h2><a href="{{ meet.get_absolute_url }}">{{meet.meet_name}}</a></h2>
        <div class="meet_card_info">
          <h4>Ikea Furuset</h4>
          <h4>Burning tillat</h4>
          <h4>Skal: {{meet.users_joining.count}}</h4>
        </div>
      </div>
    </div>
{% endfor %}
</div>

{% else %}
<div class="container" >
    <div class="jumbotron">
      <h1 class="display-4">Ops, ser ut som du ikke er logget inn!</h1>
      <p class="lead">Logg inn eller registrer deg for å se treff i nærheten av deg!</p>
      <a class="btn btn-danger btn-lg" href="{% url 'accounts:login'%}" role="button">Logg inn</a>
      <a class="btn btn-info btn-lg" href="{%url 'accounts:signup'%}" role="button">Registrer meg!</a>
    </div>

    <div id ="gif" align="center">
    <iframe src="https://giphy.com/embed/rUwbpQKelwneM" width="480" height="270" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/day-perfect-burnout-rUwbpQKelwneM"></a>
    </div>
</div>
{% endif %}
{% endblock %}
