{% extends "base.html" %}
{% load staticfiles %}
{% block title %}{{meet.meet_name}}{% endblock %}

{% block body %}
  {% if user.is_authenticated %}
  <div class="meet-detail-body">
    <div class="meet-detail-title-container">
        <h1>{{ meet.meet_name}}</h1>
    </div>
    <div class="meet_detail_description_container">
        <p>{{meet.description}}</p>
        <p id="location" data-marker="{{meet.marker_image}}">{{meet.location}}</p>
        <p>{{ meet.date|date:'Y-m-d' }} </p>
        <p>{{ meet.time}}</p>
    </div>
    <div class="meet-detail-map-container">
      <div id="map">
      </div>
      <div class="meet-detail-map-shadow">
        <div class="meet-detail-attendees-container">
            <img src="{% static 'images/lamborghini-inherit.svg'%}" alt="">
            <p>Skal på treffet: {{meet.users_joining.count}}</p>
        </div>
        <div class="meet-detail-facebook-share-container">
            <a href="https://www.facebook.com/sharer/sharer.php?u=shadygarage.pythonanywhere.com/{{request.get_full_path}}">
              <input type="image" src="{% static 'images/facebooklogo.png'%}" class="facebookShare" id="facebookShareMeet"/>
            </a> 
        </div>       
      </div>
    </div>

    <div class="meet-detail-button-container">
      
        {% for user in meet.users_joining.all  %}
        {% if request.user == user %}
          <div id="isUserJoining" data-bool="true" style="display:none;"></div>
        {% endif %}
      {% endfor %}

      <a href="" class="meet_join_button" data-id="{{ meet.pk }}">Jeg vil være med!</a>
      <a href="{% url 'meets:comment_meet' slug=meet.slug %}" class="meet-comment-button">Kommenter</a>

      {% if request.user == meet.user_fk %}
        <a href="{% url 'meets:delete_meet' slug=meet.slug%}" class="btn btn-danger">Slett</a>
        <a href="{% url 'meets:update_meet' slug=meet.slug%}" class="btn btn-info">Oppdater</a>
      {% endif %}
    </div>

    <div class="meet-commentcontainer">
      
      {% for comment in meet.meet_comment.all %}
        <div class="commentcontainer-comment">
          <div class="commentcontainer-userinfo">
            <div class="commentcontainer-userinfo-profilepiccontainer">
              <img class="commentcontainer-userinfo-profilepic" src="{{comment.user.profile.profile_pic.url}}" alt="bilde">
            </div>
            <div class="commentcontainer-userinfo-textinfo">
              <p>Bruker:<a href="{%url 'accounts:profile_page_pk' pk=comment.user.pk %}">{{comment.user}}</a></p>
              <p>Dato: {{comment.created|timesince}}</p>
            </div>
          </div>
          <div class="commentcontainer-commentfield">
            <p>{{comment.comment}}</p>
            {% if request.user == comment.user %}
              <a href="{% url 'meets:meet_comment_delete' slug=meet.slug pk=comment.id %}" class="btn btn-danger btn-sm">Slett</a>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>


  {% else %}
  <div class="container" >
      <div class="jumbotron">
        <h1 class="display-4">Ops, ser ut som du ikke er logget inn!</h1>
        <p class="lead">Logg inn eller registrer deg for å se treff i nærheten av deg!</p>
        <a class="btn btn-danger btn-lg" href="{% url 'accounts:login'%}" role="button">Logg inn</a>
        <a class="btn btn-info btn-lg" href="{%url 'accounts:signup'%}" role="button">Registrer meg!</a>
      </div>
      <div id ="gif" align="center">
      <iframe src="https://giphy.com/embed/rUwbpQKelwneM" width="480" height="270" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/day-perfect-burnout-rUwbpQKelwneM"></a>
      </div>
  </div>
  {% endif %}


{% endblock %}
{% block script%}
  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBD4qn1fg9fSciI9hwIT8mK65aUmBHbZUg&callback=initMap">
  </script>
  <script src="{% static "js/meets_detail_marker.js" %}" type="text/javascript"></script>
  <script>

    $(document).ready(function(){
      $(document.body).on("click", "#join_button", function(e){
        e.preventDefault()
        this_ = $(this)
        var meetId = this_.attr("data-id")
        var joinUrl = '../../../api/meets/' + meetId + '/join/'
        $.ajax({
          method: 'GET',
          url: joinUrl,
          success:function(data){
            if(data.joining){
              this_.text("Skal")
            }else{
              this_.text("Skal ikke")
            }
          }, error:function(data){
            console.log("Error i join meet!")
          }
        })
      })

      function userJoining(){
        var isJoining = $("#isUserJoining").attr("data-bool")
        if(isJoining){
          $("#join_button").text("Jeg kan ikke allikevell..");
        }
      }

      userJoining()
    });
  </script>
{% endblock %}
