{% extends "base.html" %}
{% load bootstrap3 %}
{% load staticfiles %}
{% block body %}
  <div class="container">
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">Custom Sticker</h1>
        <p class="lead">Fyll inn feltene under for å få et prisoverslag over klistremerke du vil ha laget. </p>
      </div>
    </div>
    <form method="post">
      {% csrf_token %}
      {% bootstrap_form form%}
      <input type="submit" class="btn btn-success" value="Send inn forespørsel">
    </form>
  </div>
{% endblock %}
