{% extends "base.html" %}
{% load staticfiles %}
{% block body %}

<div id="shop-nav" class="sidenav">
  <a onclick="closeShopNav()" id="close-shop-nav">
  <div style="color:white;"><i class="fa fa-window-close"></i></div></a>
  <a href="{% url 'products:list' category='list'%}">Alt</a>
  <a href="{% url 'products:list' category='sticker' %}" >Stickers</a>
  <a href="{% url 'products:list' category='tshirt' %}">Merch</a>
  <a href="{% url 'carts:cart-home' %}"><i class="fa fa-shopping-cart"></i></a>
</div>
<img src="{% static 'images/black-friday.png'%}" style="width:100%;">
<div class="container" style="text-align: center; z-index:10;">
  <div class="shop-top-buttons">
    <a href="#" class="btn btn-info" onclick="openShopNav()">Kategorier <i class="fa fa-air-freshener"></i></a>
    <a href="{% url 'carts:cart-home' %}" id="cart-count" class="btn btn-info">Handlekurv <i class="fas fa-shopping-cart"></i></a>
  </div>
  <div style="
    display: flex;
    flex-wrap: wrap;
    justify-content: center;">
  {% for i in object_list %}
  <a href="{{i.get_absolute_url}}" id="product-list-card" style="color:black;">
  <div class="card product-list-card" style="width: 18rem; border-radius:10px; margin:25px;">
  <img class="card-img-top" src="{{i.get_list_image}}" alt="Card image cap">
  <div class="card-body" style="border-top: 0.5px solid grey; border-bottom-left-radius:10px; border-bottom-right-radius:10px; text-align:left; display: flex; flex-direction: row; flex-wrap:wrap; justify-content:space-between; padding:0px;">
    <div style="margin: 5px; padding-left:10px;">
      <h5 class="card-text">{{i.name}}</h5>
      {% if i.sale %}
        <p class="card-text">{{i.sale_price}} kr <span style="background-color:red;" class="badge badge-secondary">{{i.sale_percentage}}% av!</span></p>
      {% else %}
        <p class="card-text">{{i.price}} kr</p>
      {% endif %}
    </div>
    <div class="card-buy-button">
      {% if i.is_empty %}
      <p class="btn btn-danger"> UTSOLGT!</p>
      {% else %}
      <a href="{% url 'products:detail' category=i.category slug=i.slug %}" id="buyProduct" data-pk="{{i.id}}" class="btn btn-info">

        {% if i in cart_obj.products.all %}
          <i class="fas fa-minus-circle"></i>
        {% else %}
          <i class="fa fa-shopping-cart"></i>
        {% endif %}
      </a>
      {% endif %}
    </div>
  </div>
  </div>
  </a>
  {% endfor %}
  <a href="{% url 'products:custom-sticker' category='sticker' slug='custom' %}" id="product-list-card" style="color:black;">
  <div class="card product-list-card" style="width: 18rem; border-radius:10px; margin:25px;">
  <img class="card-img-top" src="{% static "images/custom_sticker.jpg" %}" alt="Card image cap">
  <div class="card-body" style="border-top: 0.5px solid grey; border-bottom-left-radius:10px; border-bottom-right-radius:10px; text-align:left; display: flex; flex-direction: row; flex-wrap:wrap; justify-content:space-between; padding:0px;">
    <div style="margin: 5px; padding-left:10px;">
      <h5 class="card-text">Custom Sticker</h5>
      <p class="card-text">0 kr</p>
    </div>
    <div class="card-buy-button">
      <a href="{% url 'products:custom-sticker' category='sticker' slug='custom' %}" class="btn btn-info">
          <i class="fa fa-question-circle"></i>
      </a>
    </div>
  </div>
  </div>
  </a>
  </div>
</div>
{% endblock %}
{% block script%}
<script>
function openShopNav() {
    var w = window.innerWidth;
    var width = "250px";
    if(w < 450){
      width = "50%";
    }
    document.getElementById("shop-nav").style.width = width;
}

/* Set the width of the side navigation to 0 */
function closeShopNav() {
    document.getElementById("shop-nav").style.width = "0";
}


</script>

{% endblock %}
