{% extends "base.html" %}
{% load staticfiles %}
{% block body %}
  <div class="container">
    {% if request.user.is_superuser %}
    <div class="em-list-auth">
      <a href="{% url 'entertainments:create' %}" class="btn btn-info">Legg ut!</a>
    </div>
    {% endif %}
    {% for i in object_list %}
      <div class='post-list-card'>
        <div class='post-list-card-header'>
          Shady Garage
        </div>
          <div class='post-list-card-body'>
            <h3 class='post-list-card-title'>
              {{i.title}}
            </h3>
      {% if i.image %}
      <div class='post-list-card-image'>
        <img src="{{i.image.url}}" alt="" id='postImageFeed'></img>
      </div>
      {% endif %}
      {% if i.youtube_link %}
        <iframe width="560" height="315" id="entertainment-video" src="{{i.youtube_link}}?rel=0" frameborder="0" allowfullscreen></iframe>
      {% endif %}
          </div>
        </div>
        <div class="em-list-auth">
          <a href="{% url 'entertainments:delete' pk=i.pk %}" class="btn btn-danger">Slett</a>
          <a href="{% url 'entertainments:update' pk=i.pk%}" class="btn btn-warning">Oppdater</a>
        </div>
    {% endfor %}

  </div>
{% endblock %}
