{% extends "base.html" %}
{% load staticfiles %}
{% block body %}
<div id="background-image">
<img src="{% static 'images/Design.png'%}" alt="" style="z-index:-10; height:90%; position:fixed;>
</div>
  <div class="container">
    {% if perms.entertainments %}
    <div class="em-list-auth">
      <a href="{% url 'entertainments:create' %}" class="btn btn-info">Legg ut!</a>
    </div>
    {% endif %}
    <div class="em-list-auth">
      <h5>Underholdning!</h5>
    </div>
    <div id="entertainmentList"></div>
    <div id="load-more-container" align="center">
      <a href="#" id="loadMore" class="btn btn-info" style="align:center;">Flere posts</a>
    </div>
  </div>

{% endblock %}
{% block script %}
<script>
  $(document).ready(function(){
    var entList = [];
    var entNextUrl = "";


    function parseEnterainments(){
      if (entList == 0) {
        $("#entertainmentList").append(
          `
          <div class="jumbotron jumbotron-fluid" style="background-color: var(--main-black-color); border:2px solid var(--main-yellow-color);" align="center">
           <div class="container">
             <h1 class="display-4">Oida..vi fant ikke noe!</h1>
             <p class="lead">Prøv å søk etter noe annet!</p>
           </div>
         </div>
          `
        );
      }else {

          $.each(entList, function(key, value){
            var id = value.id;
             var title = value.title;
             var image = value.image;
             var youtube_link = value.youtube_link;
             var likes = value.likes;
             var did_like = value.did_like;

             var like_verb = "";
             if(did_like){
               like_verb = "Unlike";
             }else{
               like_verb = "Like";
             }

             if(likes == 0){
               likes = "";
             }


             if(image != null){
               $("#entertainmentList").append(
                 `
                 <div class='post-list-card entertainment-card'>
                   <div class='post-list-card-header entertainment-card-header'>
                     Shady Garage
                   </div>
                     <div class='post-list-card-body'>
                         <h3 class='post-list-card-title entertainment-list-card-title'>
                           ${title}
                           <hr style="background-color: var(--main-yellow-color);">
                         </h3>
                       <div class='post-list-card-image'>
                         <img src="${image}" alt="" id='postImageFeed'></img>
                       </div>
                      </div>
                      <div class='post-list-card-footer'>
                          <a href='#' data-id='${id}' class="like-button">
                            <img src="{% static 'images/like-icon.svg'%}" width="30px" height="30px">
                            ${like_verb} ${likes}
                           </a>
                      </div>
                   </div>
                   {% if perms.entertainments  %}
                   <div class="em-list-auth">
                     <a href="#" data-id="${id}" class="btn btn-danger permDelete">Slett</a>
                     <a href="#" data-id="${id}" class="btn btn-warning permUpdate">Oppdater</a>
                   </div>
                   {% endif %}
                 `
               );
             }else {
              $("#entertainmentList").append(
              `
               <div class='post-list-card entertainment-card'>
                 <div class='post-list-card-header entertainment-card-header'>
                   Shady Garage
                 </div>
                   <div class='post-list-card-body'>
                     <h3 class='post-list-card-title entertainment-list-card-title'>
                       ${title}
                       <hr style="background-color: var(--main-yellow-color);">
                     </h3>
                 <iframe width="560" height="315" id="entertainment-video" src="${youtube_link}?rel=0" frameborder="0" allowfullscreen></iframe>
                  </div>
                  <div class='post-list-card-footer'>
                      <a href='#' data-id='${id}' class="like-button">
                        <img src="{% static 'images/like-icon.svg'%}" width="30px" height="30px">
                        ${like_verb} ${likes}
                       </a>
                  </div>
              </div>
              {% if perms.entertainments  %}
              <div class="em-list-auth">
                <a href="#" data-id="${id}" class="btn btn-danger permDelete">Slett</a>
                <a href="#" data-id="${id}" class="btn btn-warning permUpdate">Oppdater</a>
              </div>
              {% endif %}

                `
              )
             }



          });

      }

    }
    function getEntertainments(url){
      var url_ = "";
      if(url){
        url_ = url;
      }else {
        url_ = "../api/entertainment/";
      }

      $.ajax({
        url: url_,
        method: 'GET',
        success:function(data){
          entList = data.results;
          entNextUrl = data.next;
          parseEnterainments();

          if(!entNextUrl){
            $("#loadMore").text("Ingen flere posts")
          }
        }, error:function(data){
          console.log("Error getting ent list!");
        }
      });

    };

    getEntertainments();


    $(document.body).on("click", ".like-button", function(e){
      e.preventDefault();
      var this_ = $(this)
      var id = this_.attr("data-id");
      var likedUrl = "../api/entertainment/like/" + id + "/";

      $.ajax({
        url: likedUrl,
        method: 'GET',
        success:function(data){
          if(data.liked){
            this_.text("Liker")
          }else{
            this_.text("Unlike")
          }
        }, error:function(data){
          console.log("Error in liking entertainment");
        }

      })

    });

    $(document.body).on("click", ".permDelete", function(e){
      e.preventDefault()
      var id = $(this).attr("data-id");
      window.open("delete/"+ id+"/", "_self");

    });

    $(document.body).on("click", ".permUpdate", function(e){
      e.preventDefault()
      var id = $(this).attr("data-id");
      window.open("update/"+ id+"/", "_self");

    });


    $("#loadMore").click(function(event){
      event.preventDefault()
      if(entNextUrl){
        getEntertainments(entNextUrl)
      } else{
        $("#loadMore").html("Ingen flere posts")
      }
    })

  });
</script>
{% endblock %}
