{% extends "base.html" %}
{% load staticfiles %}
{% block body %}
  <div class="container">
    {% if request.user.is_superuser %} <a href="{% url 'entertainments:create' %}" class="btn btn-info">Create!</a> {% endif %}
    {% for i in object_list %}
      <div class='post-list-card'>
        <div class='post-list-card-header'>
          Shady Garage
        </div>
          <div class='post-list-card-body'>
            <h3 class='post-list-card-title'>
              {{i.title}}
            </h3>
      {% if i.image %}
        <img src="{{i.image.url}}" alt="" width="500px">
      {% endif %}
      {% if i.youtube_link %}
        <iframe width="560" height="315" src="{{i.youtube_link}}?rel=0" frameborder="0" allowfullscreen></iframe>
      {% endif %}
          </div>
        </div>
    {% endfor %}

  </div>
{% endblock %}
