{% extends "base.html" %}
{% load bootstrap3 %}
{% block body %}
  <div class="container">
    <h1>Checkout</h1>
    <div class="progress">
      <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" id="fuel" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
      </div>
    </div>
    <div class="row">
      <div class="col-sm col">
        E
      </div>
      <div class="col-sm col" style="text-align:center;">
        <i class="fa fa-gas-pump"></i>
      </div>
      <div class="col-sm col" style="text-align:right;">
        F
      </div>
    </div>

    <h2>{{billing_profile.email}}</h2>
    <div class="shipping-address-container">
      <h3> Shippping addresse!</h3>
      <div class="address-container" style="display:flex; justify-content:space-around;">
      <form method="POST" id="shipping-address-form" action='{% url 'addresses:create-address' %}'>
        {% csrf_token %}
        <input type="hidden" name="address_type" value="shipping"/>
        <input type="hidden" name="billing_profile" value="{{billing_profile.id}}">
        {%bootstrap_form address_form%}
        <input type="submit" class="btn btn-info" value="Lagre"/>
      </form>
      {% if hasShippingAddress %}
      <div class="old-shipping-address">
          <div class="jumbotron">
            <p>Bruk addressen: {{shipping_address.address_line_1}}, {{shipping_address.zip_code}} {{shipping_address.city}}</p>
            <a href="#" onclick="useOldAddress('shipping')" class="btn btn-info">Bruk</a>
          </div>
      </div>
      {% endif %}

      </div>
    </div>
    <div class="billing-address-container" style="display:none;">
      <h3> Faktura adresse!</h3>
      <form method="POST" id="billing-address-form" action='{% url 'addresses:create-address' %}'>
        {% csrf_token %}
        <input type="hidden" name="address_type" value="billing"/>
        <input type="hidden" name="billing_profile" value="{{billing_profile.id}}">
        {%bootstrap_form address_form%}
        <input type="submit" class="btn btn-info" value="Lagre"/>
      </form>
      {% if hasBillingAddress %}
      <div class="old-shipping-address">
          <div class="jumbotron">
            <p>Bruk addressen: {{billing_address.address_line_1}}, {{billing_address.zip_code}} {{billing_address.city}}</p>
            <a href="#" onclick="useOldAddress('billing')" class="btn btn-info">Bruk</a>
          </div>
      </div>
      {% endif %}
    </div>
    <div class="card-element-container" style="display:none;">
      <script src="https://js.stripe.com/v3/"></script>
      <form action="/charge" method="post" id="payment-form">
      <div class="form-row">
        <label for="card-element">
          Kreditkort
        </label>
        <div id="card-element" class="form-control">
        <!-- A Stripe Element will be inserted here. -->
        </div>

      <!-- Used to display form errors. -->
        <div id="card-errors" role="alert"></div>
        </div>
        <button type="submit" id="buy-button" class="btn btn-success">Betal!</button>
      </form>
    </div>

  </div>
{% endblock %}
{% block script %}
  <script>
    function filll(width){
      document.getElementById("fuel").style.transition = "all 2s";
      document.getElementById("fuel").style.width = width;
    }

    function useOldAddress(type, event){

      if(type === 'shipping'){
        $(".shipping-address-container").hide();
        filll("50%");
        $(".billing-address-container").show();
      }else{
        $(".billing-address-container").hide();
        filll("75%");
        $(".card-element-container").show();
      }
    }


    $(document).ready(function(){
      $('#shipping-address-form').submit(function(event){
        event.preventDefault()
        $.ajax({
          url:'../../addresses/create_address/',
          method: 'POST',
          data: $('#shipping-address-form').serialize(),
          success:function(data){
            console.log(data.isShippingAddress)
            console.log(data.success)
            $(".shipping-address-container").hide();
            filll("50%");
            $(".billing-address-container").show();
          }, error:function(error){
            console.log("ERROR")
            console.log(error)
          }
        })

      })


      $("#billing-address-form").submit(function(event){
        event.preventDefault()
        $.ajax({
          url:'../../addresses/create_address/',
          method:'POST',
          data: $("#billing-address-form").serialize(),
          success:function(data){
            console.log(data.isShippingAddress)
            filll("75%");
            $(".billing-address-container").hide();
            $(".card-element-container").show();
          }, error:function(error){
            console.log("ERROR")
          }
        })
      })
    })
  </script>
<script>

  // Create a Stripe client.
var stripe = Stripe('pk_test_EpHMytNU1b76jhrlFLVzynLv');

// Create an instance of Elements.
var elements = stripe.elements();

// Custom styling can be passed to options when creating an Element.
// (Note that this demo uses a wider set of styles than the guide below.)
var style = {
base: {
  color: '#32325d',
  lineHeight: '18px',
  fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
  fontSmoothing: 'antialiased',
  fontSize: '16px',
  '::placeholder': {
    color: '#aab7c4'
  }
},
invalid: {
  color: '#fa755a',
  iconColor: '#fa755a'
}
};

// Create an instance of the card Element.
var card = elements.create('card', {style: style});

// Add an instance of the card Element into the `card-element` <div>.
card.mount('#card-element');

// Handle real-time validation errors from the card Element.
card.addEventListener('change', function(event) {
var displayError = document.getElementById('card-errors');
if (event.error) {
  displayError.textContent = event.error.message;
} else {
  displayError.textContent = '';
}
});

// Handle form submission.
var form = document.getElementById('payment-form');
form.addEventListener('submit', function(event) {
event.preventDefault();
$(this).find('#buy-button').html('<i class="fa fa-spinner">Sjekker..</i>');
stripe.createToken(card).then(function(result) {
  if (result.error) {
    // Inform the user if there was an error.
    var errorElement = document.getElementById('card-errors');
    errorElement.textContent = result.error.message;
  } else {
    // Send the token to your server.
    stripeTokenHandler(result.token);
  }
});
});

function stripeTokenHandler(token){
  var data = {
    'token':token.id,
    csrfmiddlewaretoken:'{{csrf_token}}',
  }
  $.ajax({
    url:'../../billing/create/',
    method:'POST',
    data: data,
    success:function(data){
      console.log("success")
      console.log(data.message)
    }, error:function(error){
      console.log(error.message)
      console.log("ERROR")
    }
  });
}
</script>
{% endblock %}
