{% extends "base.html" %}
{% load bootstrap3 %}
{% block body %}
  <div class="container">
    <h1>Checkout</h1>
    <div class="progress">
      <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" id="fuel" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
      </div>
    </div>
    <div class="row">
      <div class="col-sm col">
        E
      </div>
      <div class="col-sm col" style="text-align:center;">
        <i class="fa fa-gas-pump"></i>
      </div>
      <div class="col-sm col" style="text-align:right;">
        F
      </div>
    </div>
    <div class="shipping-address-container address-container-style">
      <h3 id="address-container-title"> Leveringsadresse!</h3>
      <hr>
      <div class="address-container">
      <form method="POST" id="shipping-address-form" action='{% url 'addresses:create-address' %}'>
        {% csrf_token %}
        <input type="hidden" name="address_type" value="shipping"/>
        <input type="hidden" name="billing_profile" value="{{billing_profile.id}}">
        {%bootstrap_form address_form%}
        <input type="submit" class="btn btn-info" value="Lagre"/>
      </form>
      {% if hasAddress %}
      <div class="old-shipping-address">
          <div class="jumbotron">
             <div class="form-group">
              <label for="reuse-address">Mine addresser</label>
              <select class="form-control" id="reuse-address">
            {% for a in addresses %}
            <option id="{{a.id}}">{{a.address_line_1}}, {{a.post_code}} {{a.city}}</option>
            {% endfor %}
            </select>
            </div>
            <a href="#" data-type="shipping" id="reuse-address-btn" class="btn btn-info">Bruk</a>
          </div>
      </div>
      {% endif %}

      </div>
    </div>
    <div class="billing-address-container address-container-style" style="display:none;">
      <h3 id="address-container-title"> Fakturaadresse!</h3>
      <hr>
      <div class="address-container">
        <form method="POST" id="billing-address-form" action='{% url 'addresses:create-address' %}'>
          {% csrf_token %}
          <input type="hidden" name="address_type" value="billing"/>
          <input type="hidden" name="billing_profile" value="{{billing_profile.id}}">
          {%bootstrap_form address_form%}
          <input type="submit" class="btn btn-info" value="Lagre"/>
        </form>
        {% if hasAddress %}
        <div class="old-shipping-address">
            <div class="jumbotron">
              <div class="form-group">
               <label for="reuse-address">Mine addresser</label>
               <select class="form-control" id="reuse-address-2">
               {% for a in addresses %}
               <option id="{{a.id}}">{{a.address_line_1}}, {{a.post_code}} {{a.city}}</option>
               {% endfor %}
             </select>
             </div>
             <a href="#" data-type="billing" id="reuse-address-btn-2" class="btn btn-info">Bruk</a>
            </div>
        </div>
        {% endif %}
      </div>
    </div>
    <div class="card-element-container" style="display:none;">
      <div class="container" style="align:center; width:80%;">
      <script src="https://js.stripe.com/v3/"></script>
      <form action="/charge" method="post" id="payment-form">
      <div class="form-row">
        <label for="card-element">
          Kreditkort
        </label>
        <div id="card-element" class="form-control">
        <!-- A Stripe Element will be inserted here. -->
        </div>

      <!-- Used to display form errors. -->
        <div id="card-errors" role="alert"></div>
        </div>
        <div class="container" style="text-align:center">
        <button type="submit" id="buy-button" style="margin-top:20px;" class="btn btn-success">Legg til kort!</button>
        </div>
      </form>
      <div class="container" style="color:rgba(0,0,0,0.5); font-size:30px; text-align:center;">
        <i class="fab fa-cc-stripe"></i>
        <i class="fab fa-cc-visa"></i>
        <i class="fab fa-cc-mastercard"></i>
      </div>
    </div>
   </div>
  </div>


{% endblock %}
{% block script %}
  <script>
    function filll(width){
      document.getElementById("fuel").style.transition = "all 2s";
      document.getElementById("fuel").style.width = width;
    }

    function useOldAddress(type, event){

      if(type === 'shipping'){
        $(".shipping-address-container").hide();
        filll("50%");
        $(".billing-address-container").show();
      }else{
        $(".billing-address-container").hide();
        filll("75%");
        $(".card-element-container").show();
      }
    }


    $(document).ready(function(){
      $('#shipping-address-form').submit(function(event){
        event.preventDefault()
        $.ajax({
          url:'../../addresses/create_address/',
          method: 'POST',
          data: $('#shipping-address-form').serialize(),
          success:function(data){
            console.log(data.isShippingAddress)
            console.log(data.success)
            $(".shipping-address-container").hide();
            filll("50%");
            $(".billing-address-container").show();
          }, error:function(error){
            console.log("ERROR")
            console.log(error)
          }
        })

      })

      /*TODO: FIKSE DENNE METODEN!! repeating.......*/
      $("#reuse-address-btn").on('click', function(event){
        event.preventDefault()
        var type = $(this).attr("data-type");
        console.log(type)
        var address_id = $('#reuse-address option:selected').attr('id');
        console.log(address_id)

        var data = {
          'type':type,
          'pk':address_id,
          csrfmiddlewaretoken:"{{csrf_token}}",
          }
        $.ajax({
          url:'../../addresses/reuse_address/',
          data:data,
          method:'POST',
          success:function(data){
            console.log(data.success)
            if(type === "shipping"){
              $(".shipping-address-container").hide();
              filll("50%");
              $(".billing-address-container").show();
            }else{
              $(".billing-address-container").hide();
              filll("75%");
              $(".card-element-container").show();
            }
          }, error:function(error){
            console.log(error)
          }
        })

      })


      $("#reuse-address-btn-2").on('click', function(event){
        event.preventDefault()
        var type = $(this).attr("data-type");
        console.log(type)
        var address_id = $('#reuse-address-2 option:selected').attr('id');
        console.log(address_id)

        var data = {
          'type':type,
          'pk':address_id,
          csrfmiddlewaretoken:"{{csrf_token}}",
          }
        $.ajax({
          url:'../../addresses/reuse_address/',
          data:data,
          method:'POST',
          success:function(data){
            console.log(data.success)
            if(type === "shipping"){
              $(".shipping-address-container").hide();
              filll("50%");
              $(".billing-address-container").show();
            }else{
              $(".billing-address-container").hide();
              filll("75%");
              $(".card-element-container").show();
            }
          }, error:function(error){
            console.log(error)
          }
        })

      })


      $("#billing-address-form").submit(function(event){
        event.preventDefault()
        $.ajax({
          url:'../../addresses/create_address/',
          method:'POST',
          data: $("#billing-address-form").serialize(),
          success:function(data){
            console.log(data.isShippingAddress)
            filll("75%");
            $(".billing-address-container").hide();
            $(".card-element-container").show();
          }, error:function(error){
            console.log("ERROR")
          }
        })
      })
    })
  </script>
<script>

  // Create a Stripe client.
var stripe = Stripe('pk_live_166o5JG9PtRN8k7eLix4JMVy');

// Create an instance of Elements.
var elements = stripe.elements();

// Custom styling can be passed to options when creating an Element.
// (Note that this demo uses a wider set of styles than the guide below.)
var style = {
base: {
  color: '#32325d',
  lineHeight: '18px',
  fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
  fontSmoothing: 'antialiased',
  fontSize: '16px',
  '::placeholder': {
    color: '#aab7c4'
  }
},
invalid: {
  color: '#fa755a',
  iconColor: '#fa755a'
}
};

// Create an instance of the card Element.
var card = elements.create('card', {style: style});

// Add an instance of the card Element into the `card-element` <div>.
card.mount('#card-element');

// Handle real-time validation errors from the card Element.
card.addEventListener('change', function(event) {
var displayError = document.getElementById('card-errors');
if (event.error) {
  displayError.textContent = event.error.message;
} else {
  displayError.textContent = '';
}
});

// Handle form submission.
var form = document.getElementById('payment-form');
form.addEventListener('submit', function(event) {
event.preventDefault();
$(this).find('#buy-button').html('<i class="fa fa-spinner fa-spin"></i>Sjekker..');
stripe.createToken(card).then(function(result) {
  if (result.error) {
    // Inform the user if there was an error.
    var errorElement = document.getElementById('card-errors');
    errorElement.textContent = result.error.message;
  } else {
    // Send the token to your server.
    stripeTokenHandler(result.token);
  }
});
});

function stripeTokenHandler(token){
  var data = {
    'token':token.id,
    csrfmiddlewaretoken:'{{csrf_token}}',
  }
  $.ajax({
    url:'../../billing/create/',
    method:'POST',
    data: data,
    success:function(data){
      filll("90%");
      $("#buy-button").html("<i class='fas fa-check-circle'></i>")
      console.log("success")
      window.location.href = '/cart/checkout/confirm/';

    }, error:function(error){
      $("#buy-button").html("<i class='fas fa-exclamation-triangle'></i> Error!!")
      console.log(error.message)
      console.log("ERROR")
    }
  });
}
</script>
{% endblock %}
