{% extends "base.html" %}
{% load staticfiles %}
{% block body %}

  <style>
    body{
      background-image: url({% static 'images/aboutpage.jpeg'%});
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
    }
  </style>

  <div class="about-text-container">
    <h4 class="about-text">Shady Garage
  	har som formål å skape et forent bilsamfunn. Det vil si at uansett hvilken bil du kjører, hvor mye hestekrefter du har eller hvilken farge på bilen du har, så er du en del av et større samfunn.
  	Shady Garage er for deg som prisetter bil høyere enn det den gjennomsnittelige menneske gjør.</h4>

    <h4 class="about-text">Når du har på deg vår logo, enten på bilen din eller klærne dine, så skal du føle deg som en del av en større familie.</h4>
    <h4 class="about-text">Shady Garage ønsker å gjøre det nordiske bilsamfunnet verdens kjent.</h4>

    <h4 class="about-text">I en verden hvor biler er på vei bort, har det aldri vært viktigere å holde sammen.</h4>
  </div>

  <div class="about-btn-container" align="center">
    <a href="{%url 'accounts:signup'%}" class="btn btn-info btn-lg" id="about-page-btn">Bli med!</a>
  </div>
  <div id="about-page-gif" align="center">
    <iframe src="https://giphy.com/embed/11V6rs3BsLzVcs" width="450" height="289" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
  </div>
{% endblock %}
