{% extends "base.html" %}
{% block body%}
<div class="container">
  <div class="jumbotron">
    <h1 class="display-4">Oida, dette var litt shady...</h1>
    <p class="lead">Det virker som om vi enten har en feil i systemet vårt, eller at du har skrevet inn noe feil.</p>
    <hr class="my-4">
    <p>Er dette vår feil så ser du under at vi er i full gang med å løse problemet!</p>
    <p class="lead">
      <a class="btn btn-info btn-lg" href="{% url 'home' %}" role="button">Hjemmesiden</a>
    </p>
  </div>
</div>
<div class="gif" align="center">
  <iframe src="https://giphy.com/embed/vzO0Vc8b2VBLi" width="480" height="360" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
</div>
{% endblock %}
