{% extends "base.html" %}
{% load staticfiles %}
{% block body  %}
<div class="body_index">
  <div class="card card-outline-primary mb-3 text-center" style="width: 18rem; background-color: rgba(0,0,0,0.5);">
    <img class="card-img-top" src="{%static "images/logoforindex.png"%}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Shady Garage</h5>
      <h6 class="card-text">Et forent bilsamfunn.</h6>
      <ul class="list-item-homepage">
        <li class="item-homepage">Hold oversikt over treff i nærheten av deg.</li>
        <li class="item-homepage"> Opprett treff. </li>
        <li class="item-homepage"> Se og følg med på andre biler. </li>
        <li class="item-homepage"> Et kombinert samfunn bestående av rånere og bilentusiaster.</li>
      </ul>
    </div>
    <div class="card-body" style="background-color: rgba(0,0,0,0.5);">
      <a href="{%url 'about'%}" class="card-link btn-info btn-lg">Mer om ShadyGarage!</a>
    </div>
  </div>
</div>

{% endblock %}
