{% extends "base.html" %}
{% load staticfiles %}
{% block title %}ShadyGarage{% endblock %}
{% block body  %}
<!--//TODO: Fikse fast høyde på bakgrunnsbilde-->
<div class="background-image-div">
  <div class="body_index">
    <div class="index-card">
      <img class="index-card-img" src="{%static "images/logoforindex.png"%}" alt="Card image cap">
      </img>
      <div class="index-card-body">
        <h5 class="index-card-title">Shady Garage</h5>
        <h6 class="index-card-sub-title">Et forent bilsamfunn.</h6>
        <ul class="index-card-list">
          <li class="index-card-list-item">Hold oversikt over treff i nærheten av deg.</li>
          <li class="index-card-list-item"> Opprett treff. </li>
          <li class="index-card-list-item"> Se og følg med på andre biler. </li>
          <li class="index-card-list-item"> Et kombinert samfunn bestående av bilentusiaster fra forskjellige segmenter.</li>
        </ul>
        <a href="{%url 'about'%}" class="index-card-button">Mer om ShadyGarage!</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block script %}
  {% if user.is_authenticated %}
    <script src="{% static "js/getnotifications.js" %}" type="text/javascript"></script>
  {% endif %}
{% endblock %}
