{% extends "base.html" %}
{% block body %}
  <div class="container" align="center">
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">Ohh, du er en luring!</h1>
        <p class="lead">Du vet vell at det ikke er pent å røre noe som ikke er ditt?</p>
      </div>
    </div>
    <iframe src="https://giphy.com/embed/l4Fsly71gEOtGvLQA" width="480" height="360" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/midland-l4Fsly71gEOtGvLQA"></a></p>
  </div>
{% endblock %}
