/* activity.html */
.activity-background{
  background: linear-gradient(#2C313C, #3A4050, #363B48);
  min-height: 1080px;
}
.activity-container{
  display: flex;
  justify-content: center;
}

.activity-card{
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid var(--main-yellow-color);
  box-shadow: 1px 1px 4px black;
  margin-top: 10px;
  padding: 3px;
  margin-bottom: 10px;
  border-radius: 12px;
}

.activity-card a{
  color:black;
}

.acitivity-card-image{
  width: 64px;
  height: 64px;
  margin-right: 20px;
  border-radius: 2px;
}

.activity-card-body{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

#markSeen{
  height: 30px;
}


#activity-card-username{
  font-family: nosifer;
}

#acitivty-card-comment{
  font-family: 'Nanum Brush Script';
  font-size: 30px;
}

.activity-card-comment{
  display: flex;
  flex-direction: column;
  margin-right: 40px;
}
#activity-card-delete-button{
  width: 17px;
  height: 17px;
}
.activity-card-footer{
  display: flex;
  justify-content: flex-end;
}
