/* activity.html */
.activity-background{
  background: linear-gradient(#2C313C, #3A4050, #363B48);
  min-height: 1080px;
}
.activity-container{
  display: flex;
  justify-content: center;
}

.activity-card{
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #eee;
  box-shadow: 0px 2px 3px grey;
  margin-top: 10px;
  padding: 3px;
  margin-bottom: 10px;
  border-radius: 12px;
}

.activity-card a{
  color:black;
}

.acitivity-card-image{
  width: 64px;
  height: 64px;
  margin-right: 20px;
  border-radius: 2px;
}

.activity-card-body{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

#markSeen{
  height: 30px;
}


#activity-card-username{
  font-family: 'Catamaran';
}

#acitivty-card-comment{
  font-family: 'Catamaran';
  font-size: 30px;
}

.activity-card-profileinfo{
  display: flex;
  flex-direction: row;
  padding: 5px;
  width: 100%;
}

.activity-card-profileinfo h6{
  padding: 10px;
}

.activity-card-comment{
  display: flex;
  flex-direction: column;
  padding: 10px;
  word-break: break-word;
  width: 100%;
}

#activity-card-delete-button{
  width: 17px;
  height: 17px;
}

.activity-card-footer{
  display: flex;
  justify-content: flex-end;
}
