{% extends "base.html" %}
{% load staticfiles %}
{% block body %}
  <!--
    //TODO: Ajax for å hente activity. Etter at reply to comments er ferdig, hente inn replyes.
  -->
  <div class="container">
    <p>Brukern som eier postene: {{user.username}}</p>
  {% for notifi in notifications %}
    <p>...................</p>
    {% if notifi.liked %}
      <p>{{notifi.user_fk}} likte din post: <a href="{{notifi.post_fk.get_absolute_url}}">{{notifi.post_fk.post_title}}</a></p>
    {% else %}
      <p>{{notifi.user_fk}} kommenterte {{notifi.noti_fk.comment}} </p>
      <p>På din post:<a href="{{notifi.post_fk.get_absolute_url}}">{{notifi.post_fk.post_title}}</a></p>
    {% endif %}
      <p>For {{notifi.created|timesince}}</p>
      <p>...................</p>
  {% endfor %}
  </div>

{% endblock %}
