{% extends "base.html" %}
{% load bootstrap3 %}
{% load staticfiles %}
{% block title %} Login ShadyGarage{% endblock %}
{% block facebookShare %}
<meta property="fb:app_id" content="1828194693869674"/>
<meta property="og:type"            content="article" />
<meta property="og:title"           content="Shady Garage Treff!" />
<meta property="og:image"           content="http://www.shadygarage.no/static/images/Gorilla-logo.png" />
<meta property="og:description"    content="Logg inn for å se treffet!" />
{% endblock %}
{% block body %}
<style>
  body{
    background-color: black;
  }
</style>
<div class="login-container">
  <img src="{%static "images/logomidlertidig.png"%}" alt="" id="logo-login"> </img>
  <div class="login-form-container">
    <form method="POST" class="login-form">
      {% csrf_token %}
      {% bootstrap_form form %}
      <input type="submit" class="btn btn-outline-info btn-block" value="login!">
    </form>
    <a class="btn btn-outline-warning btn-block btn-custom-pw-forgotten" href="{% url 'accounts:reset_password'%}">Glemt passord?</a>
  </div>
</div>
{% endblock %}
