{% extends "base.html" %}
{% load bootstrap3 %}
{% load staticfiles %}
{% block title %} Login ShadyGarage{% endblock %}
{% block body %}
<div class="login-container">
  <img src="{%static "images/logomidlertidig.png"%}" alt="" id="logo-login"> </img>
  <div class="login-form-container">
    <form method="POST">
      {% csrf_token %}
      {% bootstrap_form form%}
      <input type="submit" class="btn btn-outline-info btn-block" value="login!">
    </form>
    <a href="{% url 'accounts:reset_password'%}"><p id="forgotten-password">Glemt passord?</p></a>
  </div>
</div>
{% endblock %}
