{% extends "base.html" %}
{% block body %}
{% load bootstrap3 %}
   <div class="container">
     <div class="jumbotron">
       <form method="post" enctype="multipart/form-data">
         {% csrf_token %}
         {% bootstrap_form form%}
         {{ profile_form.as_p }}
         <input type="submit" name="" value="Ferdig!">
       </form>
        <h3> Når du trykker ferdig, vil du bli bedt om å logge inn.<br>
           Dette er for å sørge for at du husker brukernavnet og passordet</h3>
     </div>
   </div>

{% endblock %}
