{% extends "base.html" %}
{% load staticfiles %}
{% block title %} Shady Garage | {{user.username}} {% endblock %}
{% block body %}
<div class="profile-body">
  <div class="profile-page-title">
    <h4>{{user.username}}´s garage</h4>
  </div>
  <div class="profile-top">
    <div class="profile-card">
      <div class="profile-card-image-container" style="background-image: url({{user.profile.thumbnail.url}})">
      </div>

      <div class="profile-card-body">
        <h5 class="profile-card-title">{{user.username}}</h5>
        <h6 class="profile-card-sub-title">Team: {{user.profile.teams}}</h6>
        <ul class="profile-card-list">
          <li class="profile-card-list-item">Posts: {{user.user_posting.all.count}}</li>
          <li class="profile-card-list-item">Alder: {{user.profile.age}}</li>
        </ul>
        <div class="profile-button-container">
          {% if request.user == user %}
            <a href="{% url 'accounts:profile_edit' %}" class="btn btn-info profile-card-button">Edit profile</a>
            <a href="{% url 'accounts:change_password' %}" class="btn btn-info profile-card-button">Bytt passord</a>
            <a href="{% url 'accounts:activity'%}" class="btn btn-info profile-card-button" id="activityCount">EU-kontroll </a>
          {% endif %}
        </div>

      </div>
    </div>
    <div class="">
      <div class="profile-post-list"></div>
    </div>
  </div>


  <a href="#" id="loadMore" class="btn btn-info profile-more-posts-button">Se mer</a>
</div>


{% endblock %}
{% block script %}
<script>
  $(document).ready(function(){
      var nextUrl;
      var postList = [];
      var append_activity_count = 0;
      var url = "/../../api/posts" + "{{request.get_full_path}}"
      function parsePosts(){
        append_activity_count = 0;

        if(postList == 0){
          $(".profile-post-list").append(
           `
           <div class="jumbotron jumbotron-fluid">
            <div class="container">
              <h1 class="display-4">Oida..vi fant ikke noe!</h1>
              <p class="lead">Kom tilbake igjen senere, kanskje brukeren har lagt ut noe til da?</p>
            </div>
          </div>

           `
          )
        }else{
          //Posts exists!
        $.each(postList, function(key, value){
            var user_name = value.user_fk.username
            var post_title = value.post_title
            var post_description = value.post_description
            var post_created = value.post_created
            var timesince = value.timesince
            var likes = value.post_likes
            var slug = value.slug
            var ac_count = value.activity_count
            if(ac_count >0){
                if(append_activity_count == 0){
                  setActivityCountBtn(ac_count)
                }
            }
            append_activity_count++;

            if(likes == 0){
              likes = ''
            }
            var verb = 'Like'
            if(value.did_like){
              verb = 'Unlike'
            }

            var image = value.post_image
            var has_image = false
            if (image != null) {
              has_image = true
            }

            var comment_count = value.comment_count
            if(comment_count == 0){
              comment_count = ''
            }

            if(has_image){
                $(".profile-post-list").append(
                  `
                  <div class='post-list-card'>
                    <div class='post-list-card-header'>
                      ${user_name}
                    </div>
                    <div class='post-list-card-body'>
                      <h3 class='post-list-card-title'>
                        <a href='${value.url}'>${post_title}</a>
                      </h3>

                     <div class='post-list-card-image'>
                      <img src='${value.thumbnail}' id='postImageFeed'>
                     </div>
                  </div>
                  <div class='post-list-card-footer'>
                      <a href='#' data-id='${value.id}' class="like-button">
                        <img src="{% static 'images/like-icon.svg'%}" width="30px" height="30px">
                        ${verb} ${likes}
                      </a>
                      |
                      <a href='${value.url}'>
                        <img src="{% static 'images/comment-icon.svg'%}" width="30px;" height="30px"> ${comment_count}
                      </a>
                    </div>
                    <div class='post-list-card-footer text-muted'>
                       ${timesince}
                    </div>
                    </div>
                  `
                )
            }else{
              $(".profile-post-list").append(
                `
                <div class='post-list-card'>
                  <div class='post-list-card-header'>
                    ${user_name}
                  </div>
                  <div class='post-list-card-body'>
                    <h3 class='post-list-card-title'>
                      <a href='${value.url}'>${post_title}</a>
                    </h3>
                    <div class="post-list-card-text-container">
                      <p class="post-list-card-text">${post_description}</p>
                    </div>
                  </div>
                  <div class='post-list-card-footer'>
                      <a href='#' data-id='${value.id}' class="like-button">
                        <img src="{% static 'images/like-icon.svg'%}" width="30px" height="30px">
                        ${verb} ${likes}
                      </a>
                      |
                      <a href='${value.url}'>
                        <img src="{% static 'images/comment-icon.svg'%}" width="30px;" height="30px"> ${comment_count}
                      </a>
                    </div>
                  <div class='post-list-card-footer text-muted'>
                     ${timesince}
                  </div>
                </div>
                `

            )}

            }
        )}
       }


      function fetchPost(url){
        var fetchUrl = url;
        $.ajax({
          url:fetchUrl,
          method:'GET',
          success:function(data){
            postList = data.results
            nextUrl = data.next
            parsePosts()
          }, error:function(data){
            console.log("ERROR: Fetching off posts in profile_page")
          }

        })
      }
      fetchPost(url)

      $("#loadMore").click(function(event){
        event.preventDefault()
        if(nextUrl){
          fetchPost(nextUrl)
        }else{
          $("#loadMore").html("Ingen flere posts")
        }
      })

      $(document.body).on("click", ".like-button", function(e){
          e.preventDefault()
          this_ = $(this)
          var postId = this_.attr("data-id")
          var likedUrl = '../../api/posts/like/' + postId + '/'

          $.ajax({
            method: 'GET',
            url: likedUrl,
            success:function(data){
              console.log("LIKE")
              if(data.liked){
                this_.text("Liker")
              }else{
                this_.text("Unlike")
              }
            }, error:function(data){
              console.log("Error in likes method!")
            }

          })
      })

      function setActivityCountBtn(count){
          var add_ = "<h6 class='badge badge-warning'>" + count + "</h6>"
          $("#activityCount").append(add_);
      };
  });

</script>
{% endblock %}
