{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}
{% block title %} Signup del 2{% endblock %}
{% block body %}
<style>
  body{
    background-image: url({%static 'images/signupdel2.jpeg'%});
    background-size: cover;
    background-repeat: no-repeat;
  }
  @media only screen and (max-width:480px){
    body{
      background-image: none;
    }
  }

  @media only screen and (max-width:1366px){

  }
</style>

<div class="sign-up-2-background">
   <div class="signupdel2-container">
     <div class="signupdel2-form-container">
       <h4> Velg et team!</h4>
       <form method="post" enctype="multipart/form-data">
         {% csrf_token %}
         {% bootstrap_form form%}
         <input type="submit" class="btn btn-info" value="Ferdig!">
       </form>
     </div>
   </div>
</div>
{% endblock %}
