{% extends "base.html" %}
{% load staticfiles %}
{% block title %} Shady Garage | {{user.username}} {% endblock %}
{% block body %}
<div class="profile-body">
  <div class="profile-top">
    <div class="profile-card">
      <img class="profile-card-img" src="{{user.profile.profile_pic.url}}" alt="Card image cap">
      </img>
      <div class="profile-card-body">
        <h5 class="profile-card-title">{{user.username}}</h5>
        <h6 class="profile-card-sub-title">Team: {{user.profile.teams}}</h6>
        <ul class="profile-card-list">
          <li class="profile-card-list-item">Posts: {{user.user_posting.all.count}}</li>
          <li class="profile-card-list-item">Alder: {{user.profile.age}}</li>
        </ul>
        <div class="profile-button-container">
          {% if request.user == user %}
            <a href="{% url 'accounts:profile_edit' %}" class="btn btn-info profile-card-button">Edit profile</a>
            <a href="{% url 'accounts:change_password' %}" class="btn btn-info profile-card-button">Bytt passord</a>
            <a href="{% url 'accounts:activity'%}" class="btn btn-info profile-card-button" id="activityCount">EU-kontroll </a>
          {% endif %}
        </div>

      </div>
    </div>
    <div class="profile-page-title">
      <h4>{{user.username}}´s garage</h4>
    </div>
  </div>

  <div class="profile-post-list"></div>

  <a href="#" id="loadMore" class="btn btn-info">Fler posts</a>
</div>


{% endblock %}
{% block script %}
<script>
  $(document).ready(function(){
      var nextUrl;
      var postList = [];

      var url = "/../../api/posts" + "{{request.get_full_path}}"
      function parsePosts(){
        if(postList == 0){
          $(".profile-post-list").append(
            "<h5>Har ikke lagt ut noe enda...</h5>"
          )
        }else{
          //Posts exists!
        $.each(postList, function(key, value){
            var activity_count_ = value.activity_count
            if(activity_count_ > 0){
              setActivityCountBtn(activity_count_)
            }
            var user_name = value.user_fk.username
            var post_title = value.post_title
            var post_description = value.post_description
            var post_created = value.post_created
            var timesince = value.timesince
            var likes = value.post_likes
            var slug = value.slug
            if(likes == 0){
              likes = ''
            }
            var verb = 'Like'
            if(value.did_like){
              verb = 'Unlike'
            }

            var image = value.post_image
            var has_image = false
            if (image != null) {
              has_image = true
            }

            var comment_count = value.comment_count
            if(comment_count == 0){
              comment_count = ''
            }
            <!--//TODO:Fikse link til knappene + load more knapp-->
              if(has_image){
                $(".profile-post-list").append(
              `
             <div class='profile-post-list-card'> <div class='card-header'>
                  ${post_title}
                </div>
                <div class='profile-post-list-card-image'>
                    <img src='${image}' alt='' class='profile-page-post-image'>
                    <p class='card-text'>${post_description}</p>
                </div>
                <div class='card-footer'>
                  <a href='${value.url}' %}' class='badge badge-info'>Se kommentarer ${comment_count}</a>
                </div>
                <div class='card-footer'>
                  <small class='text-muted'>${value.timesince}</small>
                </div>
              </div>
              `
            )}else{
              $(".profile-post-list").append(
              `
             <div class='profile-post-list-card'> <div class='card-header'>
                  ${post_title}
                </div>
                <div class='profile-post-list-card-image'>
                    <p class='card-text'>${post_description}</p>
                </div>
                <div class='card-footer'>
                  <a href='${value.url}'%}' class='badge badge-info'>Se kommentarer ${comment_count}</a>
                </div>
                <div class='card-footer'>
                  <small class='text-muted'>${value.timesince}</small>
                </div>
              </div>
              `

            )}

            }
        )}
       }


      function fetchPost(url){
        var fetchUrl = url;
        $.ajax({
          url:fetchUrl,
          method:'GET',
          success:function(data){
            postList = data.results
            nextUrl = data.next
            parsePosts()
          }, error:function(data){
            console.log("ERROR: Fetching off posts in profile_page")
          }

        })
      }
      fetchPost(url)

      $("#loadMore").click(function(event){
        event.preventDefault()
        if(nextUrl){
          fetchPost(nextUrl)
        }else{
          $("#loadMore").html("Ingen flere posts")
        }
      })

      function setActivityCountBtn(count){
        var add_ = "<h6 class='badge badge-warning'>" + count + "</h6>"
        $("#activityCount").append(add_);
      };
  });

</script>
{% endblock %}
