{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}
{% block body %}
<style>
  body{
    background-image: url({%static 'images/signupdel2.jpeg'%});
    background-size: cover;
  }
</style>
   <div class="container">
     <div class="signupdel2-container">
       <form method="post" enctype="multipart/form-data">
         {% csrf_token %}
         {% bootstrap_form form%}
         {{ profile_form.as_p }}
         <input type="submit" name="" value="Ferdig!">
       </form>
        <h3> Når du trykker ferdig, vil du bli bedt om å logge inn.<br>
           Dette er for å sørge for at du husker brukernavnet og passordet</h3>
     </div>
   </div>

{% endblock %}
