{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}
{% block title %} Signup{% endblock %}
{% block body %}
  <style>
    body{
      background-image: url('{%static 'images/signupbackground.jpg'%}');
    }
  </style>
<div class="sign-up-1-background">

  <div class="form-container">
    <div class="signup-form-container">
      <h1 id="registrer-deg-h1">Registrer deg!</h1>
        <form method="POST">
          {% csrf_token %}
          {% bootstrap_form user_form %}
          <input type="submit" class="btn btn-info " value="Registrer meg!">
        </form>
      </div>
  </div>
</div>
{% endblock %}
