{% extends 'base.html'%}
{% load staticfiles%}
{% block facebookShare %}
<meta property="fb:app_id" content="1828194693869674"/>
<meta property="og:url"      content="http://www.shadygarage.no/{{request.path}}">
<meta property="og:type"            content="article" />
<meta property="og:title"           content="Shady Garage: {{object.title}}" />
<meta property="og:image"           content="http://www.shadygarage.no/{{object.top_image.url}}" />
<meta property="og:description"    content="{{object.intro_paragraph|truncatechars:40}}" />
{% endblock %}
{% block body%}
<style>

  .blog-top-image{
    background-image:url('{{object.top_image.url}}');
  }

  #paragraph-1-image{
    background-image:url('{{object.intro_image.url}}');
  }

  #blog-parallax-1{
    background-image:url('{{object.first_parallax.url}}');
  }

  #paragraph-2-image{
    background-image:url('{{object.paragraph_two_image.url}}');
  }

  #blog-parallax-2{
    background-image:url('{{object.second_parallax.url}}');
  }

  @media only screen and (max-width:750px){
    .blog-top-image{
      background-image:url('{{object.top_image_mobile.url}}');
    }

    #paragraph-1-image{
      background-image:url('{{object.intro_image_mobile.url}}')
    }

    #blog-parallax-1{
      background-image:url('{{object.first_parallax_mobile.url}}');
    }

    #paragraph-2-image{
      background-image:url('{{object.paragraph_two_image_mobile.url}}');
    }

    #blog-parallax-2{
      background-image:url('{{object.second_parallax_mobile.url}}');
    }
  }

</style>
<div class="blog-top-image" style="">
  <div class="blog-title">
  {{object.title}}
  </div>
  <div class="blog-fade-in">
    <div class="thing-to-know">
      <div class="col">
        <div class="row thing-to-know-con">
          <div>
            <img class="thing-to-know-icon" src="{% static 'images/blogs/cash.svg'%}" alt="" align="middle">
            {{object.car.get_price}}</img>
          </div>
        </div>
        <div class="row thing-to-know-con">
          <div>
            <img class="thing-to-know-icon" src="{% static 'images/blogs/engine.svg'%}" alt="" align="middle">
             {{object.car.get_engine}} {{object.car.fuel}}</img>
          </div>
        </div>
        <div class="row thing-to-know-con">
          <div>
            <img class="thing-to-know-icon" src="{% static 'images/blogs/horse2.svg'%}" alt="" align="middle">
             {{object.car.hp}} hk</img>
          </div>
        </div>
        <div class="row thing-to-know-con">
          <div>
            <img class="thing-to-know-icon" src="{% static 'images/blogs/flag.svg'%}" alt="" align="middle">
            0-100 på <i> {{object.car.zero_to_100}} sekund </i></img>
          </div>
        </div>
        <div class="row thing-to-know-con">
          <div>
            <img class="thing-to-know-icon" src="{% static 'images/blogs/petrol.svg'%}" alt="" align="middle">
           Forbruk: {{object.car.consumption}} l/100 km</img>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row" style="min-height:500px;">
    <div class="col-sm" id="paragraph-1-image">
    </div>
    <div class="col-sm paragraph-2-con">
      <h1 class="blog-heading">{{object.intro_title}}</h1>
      <p class="blog-paragraph">
        {{object.intro_paragraph|safe}}
      </p>
    </div>
  </div>
</div>
<div class="container-fluid blog-gif" style="background-image:url('{{object.gif.url}}');">
</div>
<div class="container-fluid blog-mobile-gif">
  <img src="{{object.gif.url}}" style="width:100%; height: auto;">
</div>
<div class="container paragraph-1-con">
  <h1 class="blog-heading">{{object.paragraph_one_title}}</h1>
  <p class="blog-paragraph">
    {{object.paragraph_one|safe}}
  </p>
  <div style="text-align:center;">
    <h4>Hør lyden</h4>
    <a href="#" id="show-exhaust-video" data-toggle="modal" data-target="#youtube-exhaust-video" class="round-play-btn"><i class="fa fa-play fa-2x"></i></a>
  </div>
</div>
{% include 'blogs/youtube_modal.html' with youtube_video=object.youtube_link%}
<div class="blog-parallax" id="blog-parallax-1">
</div>
<div class="container-fluid">
  <div class="row" style="min-height:500px;">
    <div class="col-sm" id="paragraph-2-image">
    </div>
    <div class="col-sm paragraph-2-con">
      <h1 class="blog-heading">{{object.paragraph_two_title}}</h1>
      <p class="blog-paragraph">
        {{object.paragraph_two|safe}}
      </p>
    </div>
  </div>
</div>
<div class="blog-parallax" id="blog-parallax-2">
</div>

<div class="container paragraph-3-con">
  <h1 class="blog-heading">{{object.paragraph_three_title}}</h1>
  <p class="blog-paragraph">
    {{object.paragraph_three|safe}}
  </p>

  <div class="container" align="center">
    <div class="img-comp-container">
      <div class="img-comp-img">
        <img src="{% static 'images/blogs/x7_side.jpeg'%}">
      </div>
      <div class="img-comp-img img-comp-overlay">
        <img src="{% static 'images/blogs/cullinan_side.jpeg'%}">
      </div>
    </div>
  </div>
</div>

<div class="container-fluid score-con">

  <h1>Vår karakter</h1>
  <div class="round-circle-con" align="center">
  <div class="round-circle">{{object.score}}</div>
  </div>
  <div class="container" id="user-score-con" align="center" style="margin-top:50px;">
    <form method="post">
      {% csrf_token %}
      <div class="vote-form">
        <div class="vote-form-title">
          <strong>Hva synes du om bilen?</strong>

        </div>
        <div class="row">
          <a href="#" class="vote-btn" data-car-id="{{object.car.id}}" data-vote="True">
            <div class="col vote-icon" style="margin-left:10px; margin-right:20px; background-color:var(--main-blue-color);">
              😍
            </div>
          </a>
          <a href="#" class="vote-btn" data-car-id="{{object.car.id}}" data-vote="False">
            <div class="col vote-icon" style="margin-right:10px; margin-left:20px; background-color:var(--main-orange-color);">
              😐
            </div>
          </a>
        </div>
        </div>
    </form>
  </div>
  <div class="container" id="show-score" align="center">
  <div class="row" style="height:60px; font-size:30px; width:100%;">
    <div class="col" style="background-color:var(--main-blue-color);">😍</div>
    <div class="col voted-col" id="voted-true"></div>
  </div>
  <div class="row" style="margin-top:20px;">
    <div class="col" style="background-color:var(--main-orange-color);">😐</div>
    <div class="col voted-col" id="voted-false"></div>
  </div>
  </div>

</div>
<div class="container-fluid blogs-read">
  <img src="{% static 'images/blogs/viewed.svg'%}" alt="" align="middle" style="width:50px;">
  <h2 id="views-count" data-id="{{object.id}}" data-object-type="{{object.get_class}}">1403</h2>
  <a href="{% url 'blogs:list' %}" style="margin-top:50px; width:100px; font-size:20px;" class="btn btn-info"><i class="fas fa-arrow-circle-left"></i></a>
</div>


{% endblock %}
{% block script%}
<script>
  $(document).ready(function(){
    $(window).scroll(function() {
      if ($(window).scrollTop()>150) {
        $('.blog-fade-in').fadeIn();
      }
      if($(window).scrollTop()<150){
        $('.blog-fade-in').fadeOut();
      }
   });


   $('#youtube-exhaust-video').on('hidden.bs.modal', function (e) {
      $iframe = $(this).find("iframe");
      $iframe.attr("src", $iframe.attr("src"));
    });

   $(".vote-btn").on('click', function(event){
     event.preventDefault()
     var vote = $(this).attr("data-vote");
     var car_id = $(this).attr("data-car-id");
     var data = {
        'vote':vote,
        'id':car_id,
        csrfmiddlewaretoken:'{{csrf_token}}'
     }

     $.ajax({
       url:'../../vote/',
       method:'POST',
       data:data,
       success:function(data){
         console.log(data.success)

         $("#user-score-con").fadeOut(900, function(){
           $("#voted-true").html(data.voted_true + "%")
           $("#voted-false").html(data.voted_false + "%")
           $("#show-score").fadeIn(1000)
         })



       }, error:function(data){
         console.log(data.success)
       }
     })
   })

   function getViewsCount(){
     var id = $('#views-count').attr('data-id');
     var objectType = $("#views-count").attr('data-object-type');
     console.log(id)
     console.log(objectType)
     var data = {
       'id':id,
       'object_class':objectType,
       csrfmiddlewaretoken:'{{csrf_token}}',
     }

     $.ajax({
       url:'../../../analytics/',
       data:data,
       method: 'GET',
       success:function(data){
         console.log(data.views)
         $("#views-count").html(data.views)
       }, error:function(error){
         console.log(error.message)
      }
     })
   }

   getViewsCount()


  })

</script>
<script>
  function initComparisons() {
    var x, i;
    /* Find all elements with an "overlay" class: */
    x = document.getElementsByClassName("img-comp-overlay");
    for (i = 0; i < x.length; i++) {
      /* Once for each "overlay" element:
      pass the "overlay" element as a parameter when executing the compareImages function: */
      compareImages(x[i]);
    }
    function compareImages(img) {
      var slider, img, clicked = 0, w, h;
      /* Get the width and height of the img element */
      w = img.offsetWidth;
      h = img.offsetHeight;
      /* Set the width of the img element to 50%: */
      img.style.width = (w / 2) + "px";
      /* Create slider: */
      slider = document.createElement("DIV");
      slider.setAttribute("class", "img-comp-slider");
      slider.setAttribute("style", "background-color: var(--main-dark-color);");
      /* Insert slider */
      img.parentElement.insertBefore(slider, img);
      /* Position the slider in the middle: */
      slider.style.top = (h / 2) - (slider.offsetHeight / 2) + "px";
      slider.style.left = (w / 2) - (slider.offsetWidth / 2) + "px";
      /* Execute a function when the mouse button is pressed: */
      slider.addEventListener("mousedown", slideReady);
      /* And another function when the mouse button is released: */
      window.addEventListener("mouseup", slideFinish);
      /* Or touched (for touch screens: */
      slider.addEventListener("touchstart", slideReady);
       /* And released (for touch screens: */
      window.addEventListener("touchstop", slideFinish);
      function slideReady(e) {
        /* Prevent any other actions that may occur when moving over the image: */
        e.preventDefault();
        /* The slider is now clicked and ready to move: */
        clicked = 1;
        /* Execute a function when the slider is moved: */
        window.addEventListener("mousemove", slideMove);
        window.addEventListener("touchmove", slideMove);
      }
      function slideFinish() {
        /* The slider is no longer clicked: */
        clicked = 0;
      }
      function slideMove(e) {
        var pos;
        /* If the slider is no longer clicked, exit this function: */
        if (clicked == 0) return false;
        /* Get the cursor's x position: */
        pos = getCursorPos(e)
        /* Prevent the slider from being positioned outside the image: */
        if (pos < 0) pos = 0;
        if (pos > w) pos = w;
        /* Execute a function that will resize the overlay image according to the cursor: */
        slide(pos);
      }
      function getCursorPos(e) {
        var a, x = 0;
        e = e || window.event;
        /* Get the x positions of the image: */
        a = img.getBoundingClientRect();
        /* Calculate the cursor's x coordinate, relative to the image: */
        x = e.pageX - a.left;
        /* Consider any page scrolling: */
        x = x - window.pageXOffset;
        return x;
      }
      function slide(x) {
        /* Resize the image: */
        img.style.width = x + "px";
        /* Position the slider: */
        slider.style.left = img.offsetWidth - (slider.offsetWidth / 2) + "px";
      }
    }
  }

  initComparisons();

</script>
{% endblock %}
