{% extends "base.html" %}
{% block body %}
<div class="container">
  <div class="jumbotron">
    <form method="post">
      {% csrf_token %}
      {% if object.post_image %}<img src="{{object.post_image.url}}" width="30%" heigth="30%">{% endif %}
      <h1 class="display-4"><span class="badge badge-warning">{{object.post_title}}</span></h1>
      {% if object.post_description %}<h6 class="display-5"><span class="badge badge-warning">
        {{object.post_description}}</span></h6>{% endif %}
      <p class="lead">Sikker på at du vil slette posten?</p>
      <hr class="my-4">
      <input type="submit" class="btn btn-danger" value="Slett">
    </form>
  </div>
  <div id="gif" align="center">
    <iframe src="https://giphy.com/embed/kqu0JnieiuhGw" width="480" height="256" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
  </div>
</div>
{% endblock %}
