{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Shady: {{post.post_title}} {% endblock %}
{% block body %}
<!--
  //TODO:Finne et bra nok design og implementere det.
-->
  <div class="container">
    <h2> @{{post.user_fk.username}} </h2>
    <h2> {{ post.post_title}} </h2>
    <p> {{ post.post_description}} </h2>
    {% if post.post_image %}
      <img src="{{post.post_image.url}}" alt="" width="200px" heigh="200px">
    {% endif %}
    <a href="{% url 'posts:post_comment' slug=post.slug%}" class="btn btn-info">Kommenter</a>
    <h4>Kommentarer:</h4>
    {% for comment in post.post_comment_fk.all %}
    <div class="post_detail_comment_container">
      <div class="post_detail_comment_container_userinfo">
          <img class="post_detail_comment_container_userinfo_profilepic" src="{{comment.user.profile.profile_pic.url}}" alt="bilde">
          <p>Bruker:<a href="{%url 'accounts:profile_page_pk' pk=comment.user_fk.pk %}">{{comment.user_fk}}</a></p>
          <p>Dato: {{comment.created|date:'Y-m-d H:i'}}</p>
      </div>
      <div class="post_detail_comment_container_comment">
        <p>{{comment.comment}}</p>
        {% if request.user == comment.user_fk %}
          <a href="{% url 'posts:post_comment_delete' slug=post.slug pk=comment.id%}" class="btn btn-danger btn-sm">Slett</a>
        {% endif %}
      </div>
    </div>
    {% endfor %}

    {% if request.user == post.user_fk %}
      <a href="{% url 'posts:post_delete' slug=post.slug %} " class="btn btn-danger">Slett post!</a>
      <a href="{% url 'posts:post_update' slug=post.slug %}" class="btn btn-info">Oppdater post!</a>
    {% endif %}
  </div>
{% endblock %}
