{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Shady: {{post.post_title}} {% endblock %}

{% block body %}
{% include "posts/comment-modal.html" %}
{% include "posts/comment-replys-modal.html" %}
  <div class="post-detail-container">
    <div class="post-detail-username">
      <a href="{% url 'accounts:profile_page_pk' pk=post.user_fk.pk%}"><h2> {{post.user_fk.username}} </h2></a>
    </div>
    <div class="post-container">
        <h2 class="post-detail-post-title" id="sluuug" data-sluug="{{post.slug}}"> {{ post.post_title}} </h2>
        {% if post.post_image %}
        <img src="{{post.post_image.url}}" alt="" class="post-detail-image">
        {% endif %}

        <p class="post-detail-post-comment"> {{ post.post_description}} </p>
        <p> {{post.post_created|timesince}}</p>
          <!--
            //TODO:!LANSERING! Bytte ut u=www.shadygarage.pythonanywhere.com/{{request.get_full_path}}" med  u=www.shadygarage.com/{{request.get_full_path}}
          -->
          <a href="https://www.facebook.com/sharer/sharer.php?u=shadygarage.pythonanywhere.com/{{request.get_full_path}}">
            <input type="image" src="{% static 'images/facebooklogo.png'%}" class="facebookShare" id="facebookSharePost"/>
          </a>
    </div>
    {% if request.user == post.user_fk %}
      <a href="{% url 'posts:post_delete' slug=post.slug %} " class="btn btn-danger">Slett post!</a>
      <a href="{% url 'posts:post_update' slug=post.slug %}" class="btn btn-info">Oppdater post!</a>
    {% endif %}

    <a class="post-detail-comment-button" href="{% url 'posts:post_comment' slug=post.slug%}">Kommenter</a>
    <div class="post-commentcontainer">

    </div>

    </div>


{% endblock %}

{% block script %}
<script>
  $(document).ready(function(){
    var slug = document.getElementById("sluuug").getAttribute("data-sluug");
    var commentsList = [];
    function fetchComments(){
      $.ajax({
        method: "GET",
        url: '/../../../api/posts/comments/' + slug ,
        success:function(data){
          commentsList = data
          parseComments();
        },error:function(data){
          console.log("Error!!-> in getting comments")
        },

      })

    }

    fetchComments()

    function parseComments(){
        $.each(commentsList, function(key, value){
          var username = value.user_fk.username
          var id_ = value.user_fk.id
          var profile_pic = value.user_fk.profile.thumbnail


          if(value.comment_replys > 0){
            $(".post-commentcontainer").append(
              `
              <div class="commentcontainer-comment">
                <div class='commentcontainer-userinfo'>
                  <div class='commentcontainer-userinfo-profilepiccontainer'>
                    <img class='commentcontainer-userinfo-profilepic' src="${profile_pic}" alt="bilde">
                  </div>
                  <div class="commentcontainer-userinfo-textinfo">
                    <p>Bruker: <a href="${value.user_fk.url}" id="usernameLink" data-id="${id_}" >${value.user_fk.username}</a></p>
                    <p>${value.created} siden</p>
                    <a href="#" id="answerComment" class="btn btn-warning btn-sm" data-slug="${value.post_fk.slug}" data-id="${value.id}">Svar</a>
                    <a href="#" id="commentReplyButton" data-comment-user="${value.user_fk.username}" data-id="${value.id}" class="btn btn-danger btn-sm"> Se svar <span class="badge badge-light">${value.comment_replys}</span></a>
                </div>
                </div>
                <div class="commentcontainer-commentfield">
                  <p>${value.comment}</p>
                </div>
               </div>
              `
            )
          }else{
            $(".post-commentcontainer").append(
              `
              <div class="commentcontainer-comment">
                <div class='commentcontainer-userinfo'>
                  <div class='commentcontainer-userinfo-profilepiccontainer'>
                    <img class='commentcontainer-userinfo-profilepic' src="${profile_pic}" alt="bilde">
                  </div>
                  <div class="commentcontainer-userinfo-textinfo">
                    <p>Bruker: <a href="${value.user_fk.url}">${value.user_fk.username}</a></p>
                    <p>${value.created} siden</p>
                    <a href="#" id="answerComment" class="btn btn-warning btn-sm" data-slug="${value.post_fk.slug}" data-id="${value.id}">Svar</a>
                </div>
                </div>
                <div class="commentcontainer-commentfield">
                  <p>${value.comment}</p>
                </div>
               </div>
              `
            )
          }
        })
    }


    $(document.body).on("click", "#commentReplyButton", function(e){
      e.preventDefault()
      var this_ = $(this)
      var id_ = this_.attr("data-id")
      var replys = [];
      $.ajax({
        method:'GET',
        url: '../../../api/posts/comment_replys/' + id_,
        success:function(data){
          replys = data.results
        },error:function(data){
          console.log("ERROR!!-> Getting comment replys")
        }
      })

      $("#exampleModalCenter").modal({})
      $("#exampleModalTitle").text("Svar til " + this_.attr("data-comment-user") + " sin kommentar")

      $("#exampleModalCenter").on("shown.bs.modal", function(){
        var add_ = '';
        $.each(replys, function(key, value){
          add_ += "<p class='user-id' ><a href='" + value.user_fk.url + "'>" + value.user_fk.username + "</a>: "+ value.comment + "</p><p> for "
          + value.timesince + "</p><hr>"
        })

        $(".replys-container").html(add_)
      })

    });


    $('#exampleModalCenter').on('hidden.bs.modal', function () {

           $('p').remove(".user-id")
      });

    $(document.body).on("click", "#answerComment", function(e){
      var this_ = $(this)
      var id = this_.attr("data-id")
      var slug = this_.attr("data-slug")
      $('textarea').val('')
      $("#commentModal").modal({})
      $("#commentModal").on("shown.bs.modal", function(){
         $("#commentModal").attr("data-slug", slug)
         $("#commentModal").attr("data-id", id)
         $("textarea").focus()
      })
    });

    $("#comment_form").submit(function(event){
      event.preventDefault()
      var this_ = $(this)
      var id = $("#commentModal").attr("data-id")
      var slug = $("#commentModal").attr("data-slug")
      var comment = this_.find("input[type=text], textarea").val()
      $.ajax({
        url: '../../../api/posts/create_comment_reply/id/' + id + '/',
        method: 'post',
        data:{
          'comment': comment,
          csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
        },
        success:function(data){
          $("#commentModal").modal('hide')
        }, error:function(data){
           console.log("ERROR!!-> Answering comment")
        }

      })
    });




  });
</script>

{% endblock %}
