{% extends "base.html" %}
{% load staticfiles %}
{% block title %}ShadyGarage{% endblock %}
{% block body %}
<!--NB: Dette må være med pga linear background er kun et bilde som blir lagt inn-->
{% if user.is_authenticated %}
{% include "posts/comment-modal.html" %}
{% include "logo-loading-screen.html" %}
{% endif %}
<style>
  body{
    background-color: #FFF8F0;
  }
</style>
  <div class="post-search-container" align="center">
    <form action="{% url 'posts:posts_feed' %}" method="action">
      <input type="text" name="q" placeholder="Søk">
      <input type="submit" name="" class="btn btn-info" value="Søk">
    </form>
    <!--<a href="#" class="btn btn-info" id="load-mc-list">MC LOAD</a>
    <a href="#" class="btn btn-warning" id="load-car-list">CAR LOAD </a>-->
    <a href="{% url 'posts:post_create'%}" id="sharePost"><img src="{% static "images/image-icon.svg" %}" class="share-post-icon"></a>
    <a href="{% url 'posts:post_text_create'%}" id="sharePost"><img src="{% static "images/text-icon.svg" %}" class="share-post-icon"></a>
  </div>
  <div class="post-list-container">
    <div id="fraAjax"></div>
    {% if user.is_authenticated %}
    <a href="#" id="loadMore" class="button blue-btn">Flere posts</a>
    {% else %}
    <div class="container">
      <div class="jumbotron">
        <h1>Liker du det du ser?</h1>
        <p class="lead">Logg inn eller registrer deg for å se mer!</p>
        <a class="btn btn-danger btn-lg" href="{% url 'accounts:login'%}" role="button">Logg inn</a>
        <a class="btn btn-info btn-lg" href="{%url 'accounts:signup'%}" role="button">Registrer meg!</a>
        <div id ="gif" align="center">
          <iframe src="https://giphy.com/embed/rUwbpQKelwneM" width="100%" height="270" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/day-perfect-burnout-rUwbpQKelwneM"></a>
        </div>
      </div>
    </div>
    {% endif %}
  </div>


{% endblock %}
{% block script %}
{% if user.is_authenticated %}
  <script src="{% static "js/getnotifications.js" %}" type="text/javascript"></script>
{% endif %}
<script>
    function getParameterByName(name, url) {
        if (!url) url = window.location.href;
        name = name.replace(/[\[\]]/g, "\\$&");
        var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
            results = regex.exec(url);
        if (!results) return null;
        if (!results[2]) return '';
        return decodeURIComponent(results[2].replace(/\+/g, " "));
    }

    $(document).ready(function(){
      console.log("working");
      var query = getParameterByName('q')
      var nextUrl;
      var postList = [];

      function parsePosts(){
        if(postList == 0){
          $("#fraAjax").append(
            `
            <div class="jumbotron jumbotron-fluid" style="background-color: var(--main-black-color); border:2px solid var(--main-yellow-color);" align="center">
             <div class="container">
               <h1 class="display-4" style="color:white;">Oida..vi fant ikke noe!</h1>
               <p class="lead" style="color:white;">Prøv å søk etter noe annet!</p>
             </div>
           </div>

            `
          )
        }else{
          //Posts exists!
        $.each(postList, function(key, value){
            var user_name = value.user_fk.username
            var post_title = value.post_title
            var post_description = value.post_description
            var post_created = value.post_created
            var timesince = value.timesince
            var likes = value.post_likes
            if(likes == 0){
              likes = ''
            }
            var verb = 'Like'
            if(value.did_like){
              verb = 'Unlike'
            }

            var image = value.post_image
            var has_image = false
            if (image != null) {
              has_image = true
            }

            var comment_count = value.comment_count
            if(comment_count == 0){
              comment_count = ''
            }

            if(has_image){
              $("#fraAjax").append(
                `
                <div class='post-list-card' style="background-image:url('${value.thumbnail_blurred}'); background-size:cover;">
                  <div class='post-list-card-header'>
                    ${user_name}
                  </div>
                  <a href='${value.url}' id="post-card-link">
                  <div class='post-list-card-body'>
                    <h3 class='post-list-card-title'>
                      ${post_title}
                    </h3>

                   <div class='post-list-card-image'>
                    <img src='${value.thumbnail}' id='postImageFeed'>
                   </div>
                   </a>
                </div>
                <div class='post-list-card-footer'>
                    <a href='#' data-id='${value.id}' class="like-button">
                      <img src="{% static 'images/like-icon.svg'%}" width="30px" height="30px">
                      ${verb} ${likes}
                    </a>
                    |
                    <a href='#' id='comment-modal' data-sluug="${value.slug}" data-id='${value.id}' data-post-owner='${user_name}' data-post-title='${post_title}'>
                      <img src="{% static 'images/comment-icon.svg'%}" width="30px;" height="30px"> ${comment_count}
                    </a>
                  </div>
                  <div class='post-list-card-footer text-muted'>
                     ${timesince}
                  </div>
                  </div>
                `
              )
            }else{
              $("#fraAjax").append(
                `
                <div class='post-list-card'>
                  <div class='post-list-card-header'>
                    ${user_name}
                  </div>
                  <div class='post-list-card-body'>
                    <h3 class='post-list-card-title'>
                      <a href='${value.url}'>${post_title}</a>
                    </h3>
                    <div class="post-list-card-text-container">
                      <p class="post-list-card-text">${post_description}</p>
                    </div>
                  </div>
                  <div class='post-list-card-footer'>
                      <a href='#' data-id='${value.id}' class="like-button">
                        <img src="{% static 'images/like-icon.svg'%}" width="30px" height="30px">
                        ${verb} ${likes}
                      </a>
                      |
                      <a href='#' id='comment-modal' data-sluug="${value.slug}" data-id='${value.id}' data-post-owner='${user_name}' data-post-title='${post_title}'>
                        <img src="{% static 'images/comment-icon.svg'%}" width="30px;" height="30px"> ${comment_count}
                      </a>
                    </div>
                  <div class='post-list-card-footer text-muted'>
                     ${timesince}
                  </div>
                </div>
                `
              )
            }
        })
       }
      }

      function fetchPosts(url){
        $("#loading-screen-logo").show();
        var fetchUrl;
        if(!url){
          fetchUrl = "../../api/posts/"
        }else{
          fetchUrl = url
        }
        $.ajax({
          url:fetchUrl,
          data:{
            'q':query
          },
          method:"GET",
          success:function(data){
            postList = data.results
            nextUrl = data.next
            if(!nextUrl){
              $('#loadMore').text("Ingen flere posts");
            }


            parsePosts()
            $("#loading-screen-logo").hide();
          },
            error:function(data){
            console.log("Error")
            console.log(data)
          }
        })
      }


      fetchPosts()
      $("#loadMore").click(function(event){
        event.preventDefault()
        if(nextUrl){
          fetchPosts(nextUrl)
        } else{
          $("#loadMore").html("Ingen flere posts")
        }
      })

      $("#load-mc-list").click(function(event){
        event.preventDefault()
        $("#fraAjax").html("")
        fetchPosts('../../api/posts/mc_list/')
      })

      $("#load-car-list").click(function(event){
        event.preventDefault()
        $("#fraAjax").html("")
        fetchPosts("../../api/posts")

      })

      $(document.body).on("click", ".like-button", function(e){
          e.preventDefault()
          this_ = $(this)
          var postId = this_.attr("data-id")
          var likedUrl = '../../api/posts/like/' + postId + '/'

          $.ajax({
            method: 'GET',
            url: likedUrl,
            success:function(data){
              console.log("LIKE")
              if(data.liked){
                this_.text("Liker")
              }else{
                this_.text("Unlike")
              }
            }, error:function(data){
              console.log("Error in likes method!")
            }

          })
      })

      $(document.body).on("click", "#comment-modal", function(e){
        e.preventDefault()
        var this_ = $(this)
        var postId = this_.attr("data-id")
        var owner = this_.attr("data-post-owner")
        var title = this_.attr("data-post-title")
        $('textarea').val('')
        $("#commentModal").modal({})
        $("#commentModal").on("shown.bs.modal", function(){
          $('#commentModal').attr('data-sluug', this_.attr("data-sluug"))
          $('textarea').focus()
        })
      })

      $("#comment_form").submit(function(event){
        event.preventDefault()
        var this_ = $(this)
        var comment = this_.find("input[type=text], textarea").val()
        var slug = $("#commentModal").attr("data-sluug")
        $.ajax({
          url: '../../api/posts/create_comment/' + slug + '/',
          method:'POST',
          data: {
            'comment':comment,
             csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
          },

          success:function(data){
            $("#commentModal").modal('hide');
            console.log("Commented")
          }, error:function(data){
            console.log("ERROR I API POST COMMENT")
          }
        })
      })
    });
  </script>
{% endblock %}
