{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}
{% block title %} Shady Post{% endblock %}
{% block body %}
<div class="linear-gradient-background">
<div id="loading-screen" style="display:none;">
  <img src="{% static 'images/loading-screen.gif'%}" alt="" id="loading-screen-image">
</div>
  <div class="container post-form-body" align="center">
    <div class="post-form-container">
      <form method="post" id="myform">
          {% csrf_token %}
          {% bootstrap_form form%}
          <input type="submit" name="" class="btn btn-info" value="Del!">
      </form>
    </div>

  </div>
</div>
{% endblock %}
{% block script %}
<script>
$('#myform').submit(function(event) {
        event.preventDefault();
        var formData = new FormData();
        var formData = new FormData($('form')[0]);
        for (var pair of formData.entries()) {
            console.log(pair[0]+ ', ' + pair[1]);
        }
        if(formData.has('post_image')){
          if(formData.get('post_image').size < 1){
            formData.delete('post_image');
          }
        }else{

        }

        formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');



        $('#loading-screen').show();
        $.ajax({
                url: '../../api/posts/create_post/',
                method: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function(data, textStatus, jqXHR) {
                        $('#loading-screen').hide();
                        window.location.replace('/posts/post_feed');
                },
                error: function(jqXHR, textStatus, errorThrown) {
                      alert('Error! Ingen bilde lagt til eller feil format!');
                },
                params: {
                'csrf_token': '{{ csrf_token }}',
                'csrf_name': 'csrfmiddlewaretoken',
                'csrf_xname': 'X-CSRFToken',
                },
        });
});
</script>

{% endblock %}
