{% extends "base.html" %}
{% load staticfiles %}
{% block title %}ShadyGarage{% endblock %}
{% block body %}
{% if user.is_authenticated %}
  <div class="container" align="center">
    <form action="{% url 'posts:posts_feed' %}" method="action">
      <input type="text" name="q" placeholder="Søk">
      <input type="submit" name="" value="Søk">
    </form>
    {% for post in object_list %}
        <div class="card text-center" style="margin:20px;">
          <div class="card-header">
            @{{post.user_fk.username}}
          </div>
          <div class="card-body">
            <h3 class="card-text"><a href="{{ post.get_absolute_url }}">{{post.post_title}} </a></h3>
            <p class="card-text">{{post.post_description}}</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
          <div class="card-footer text-muted">
            {{post.post_created|timesince}}
          </div>
        </div>
    {% empty %}
      {% if request.GET.q %}
        <h4>Fant ikke noe....</h4>
        {% else %}
        <h4>Ingen posts enda...</h4>
      {% endif %}
    {% endfor %}
  </div>
{% else %}
<div class="container" >
  <div class="jumbotron">
    <h1>Ops, ser ut som du ikke er logget inn!</h1>
    <p class="lead">Logg inn eller registrer deg for å se treff i nærheten av deg!</p>
    <a class="btn btn-danger btn-lg" href="{% url 'accounts:login'%}" role="button">Logg inn</a>
    <a class="btn btn-info btn-lg" href="{%url 'accounts:signup'%}" role="button">Registrer meg!</a>
  </div>

  <div id ="gif" align="center">
    <iframe src="https://giphy.com/embed/rUwbpQKelwneM" width="100%" height="270" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/day-perfect-burnout-rUwbpQKelwneM"></a>
  </div>
</div>
{% endif %}
{% endblock %}
