{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}
{% block title %} Shady Post{% endblock %}
{% block body %}
  <div class="container">
    <form method="post" id="myform">
        {% csrf_token %}
        {% bootstrap_form form%}
    </form>
    <button id="submit-image"> Upload Image </button>
  </div>
{% endblock %}
{% block script %}
<script>
$('#submit-image').click(function() {
        var formData = new FormData();
        var formData = new FormData($('form')[0]);
        formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');
        console.log(formData)
        $.ajax({
                url: '../../api/posts/create_post/',
                method: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function(data, textStatus, jqXHR) {
                        alert('Success');
                },
                error: function(jqXHR, textStatus, errorThrown) {
                      alert('error');
                },
                params: {
                'csrf_token': '{{ csrf_token }}',
                'csrf_name': 'csrfmiddlewaretoken',
                'csrf_xname': 'X-CSRFToken',
                },
        });
});
</script>

{% endblock %}
