{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}
{% block title %} Shady Post{% endblock %}
{% block body %}
  <!-- //TODO: legge til loading skjerm ved posting-->
  <div id="loadingScreen" onClick="loadingScreenHide()">
    <img src="{% static 'images/loading-screen.gif' %}" width="100%" height="100%">
  </div>
   <div class="form-container">
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {% bootstrap_form form %}
      <input type="submit" class="btn btn-info btn-lg" onClick="loadingScreenShow()" value="Publiser!">
    </form>
    <button onClick="loadingScreenShow()">Test</button>
  </div>
{% endblock %}
{% block script %}
<script>
  function loadingScreenHide(){
    document.getElementById('loadingScreen').style.display = 'None';
  }

  function loadingScreenShow(){
    document.getElementById('loadingScreen').style.display = "block";
    var gorilla = doucment.getElementById('loadingScreen')
    gorilla.setAttribut("rotate-gorilla")
  }
</script>

{% endblock %}
