{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Shady: {{post.post_title}} {% endblock %}
{% include "posts/comment-replys-list-modal.html" %}
{% block body %}


  <div class="post-detail-container">
    <div class="post-detail-username">
      <a href="{% url 'accounts:profile_page_pk' pk=post.user_fk.pk%}"><h2> {{post.user_fk.username}} </h2></a>
    </div>
    <div class="post-container">
        <h2 class="post-detail-post-title" id="sluuug" data-sluug="{{post.slug}}"> {{ post.post_title}} </h2>
        {% if post.post_image %}
        <img src="{{post.post_image.url}}" alt="" class="post-detail-image">
        {% endif %}

        <p class="post-detail-post-comment"> {{ post.post_description}} </p>
        <p> {{post.post_created|timesince}}</p>
          <!--
            //TODO:!LANSERING! Bytte ut u=www.shadygarage.pythonanywhere.com/{{request.get_full_path}}" med  u=www.shadygarage.com/{{request.get_full_path}}
          -->
          <a href="https://www.facebook.com/sharer/sharer.php?u=shadygarage.pythonanywhere.com/{{request.get_full_path}}">
            <input type="image" src="{% static 'images/facebooklogo.png'%}" class="facebookShare" id="facebookSharePost"/>
          </a>
    </div>
    {% if request.user == post.user_fk %}
      <a href="{% url 'posts:post_delete' slug=post.slug %} " class="btn btn-danger">Slett post!</a>
      <a href="{% url 'posts:post_update' slug=post.slug %}" class="btn btn-info">Oppdater post!</a>
    {% endif %}

    <a class="post-detail-comment-button" href="{% url 'posts:post_comment' slug=post.slug%}">Kommenter</a>
    <div class="post-commentcontainer">

    </div>

    </div>


{% endblock %}

{% block script %}
<script>
  $(document).ready(function(){
    var slug = document.getElementById("sluuug").getAttribute("data-sluug");
    var commentsList = [];
    function fetchComments(){
      $.ajax({
        method: "GET",
        url: '/../../../api/posts/comments/' + slug ,
        success:function(data){
          commentsList = data
          parseComments();
        },error:function(data){
          console.log("Error!!-> in getting comments")
        },

      })

    }

    fetchComments()

    function parseComments(){
        $.each(commentsList, function(key, value){
          var username = value.user_fk.username
          var id_ = value.user_fk.id

          $(".post-commentcontainer").append(
            `
            <div class="commentcontainer-comment">
              <div class='commentcontainer-userinfo'>
                <div class='commentcontainer-userinfo-profilepiccontainer'>
                  <img class='commentcontainer-userinfo-profilepic' src="" alt="bilde">
                </div>
                <div class="commentcontainer-userinfo-textinfo">
                  <p>Bruker: <a href="#">${value.user_fk.username}</a></p>
                  <p>Dato: ${value.created}</p>
                  <a href="#" class="btn btn-warning btn-sm">Svar</a>
                    <a href="#" id="commentReplyButton" data-id="" class="btn btn-danger btn-sm"> Se svar</a>
                </div>
              </div>
             </div>
            `
          )
        })
    }
    /*
      fetch replys,
      parse comments,
      fikse knapper ->Svar og se svar
    */

  });
</script>

{% endblock %}
